
<section {% include "partials/components/section-id.twig" %} class="section-content image">

    {% include "partials/components/section-title.twig" %}

    <div class="content image">

        <div class="full-bleed-image">
            <img src="{{ TimberImage( section.image_field.id )}}" />

        </div>

        {% if section.caption %}
            <div class="caption">{{ section.caption }}</div>
        {% endif %}

    </div>

</section>
