
<section id="{% include "partials/components/section-id.twig" %}" class="section-content rich-text section-text">

    <div class="content wysiwyg">

        {{ section.rich_text_field }}

    </div>
    <br/>

</section>
