
<section id="{% include "partials/components/section-id.twig" %}" class="section-content labelled-list">

    {% include "partials/components/section-title.twig" %}

    <div class="content labelled-list">
        <ul class="labelled-list">
            {% for li in section.labelled_list_items %}
                <li>
                    <div class="list-item-label">
                        <h3>{{ li.list_item_label }}</h3>
                    </div>
                    <div class="list-item-content wysiwyg">
                        {{ li.list_item_content }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</section>
