body.search-open {
    overflow: hidden;
}

#search {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;
    background-color: $pre-college-secondary-black;
    z-index:1000;
    padding-top: 1em;
}


#searchform {
    @include span-columns(12 of 12);
}

.search-input-text {
    @include shift(1 of 12);
    @include span-columns(9 of 12);

    #s {
        @extend .h3;
        @extend .brand-white;

        @include span-columns(9 of 9);

        border:0;
        outline:0;
        border-bottom: 2px solid $pre-college-primary-teal;
        padding-top:1em;
        padding-bottom: .25em;

        vertical-align: baseline;

        background-color: $pre-college-secondary-black;

        color:$pre-college-primary-teal;

        &::placeholder {
            color: $pre-college-primary-teal;
        }

    }

}

.search-input-submit {
    @include span-columns(1 of 12);

    #searchsubmit {
        @extend .h3;
        @extend .pictogram;

        @include span-columns(1 of 12);
        @include omega();

        border:0;
        outline:0;
        padding:1em;

        vertical-align: baseline;

        background-color: $pre-college-secondary-black;
        color:$pre-college-primary-teal;

        &:hover {
            color:$pre-college-primary-yellow;
            cursor: pointer;
        }
    }
}

@include xs-query() {
    #search {
        top: $header-mobile-height;
    }

    .search-input-text {
        font-size: .5em;
        padding-top: .5em;
        padding-bottom: .5em;
        -webkit-appearance: none;
        @include border-radius(0px);
    }

    input[type=submit] {
        -webkit-appearance: none;
    }
}
