#content {
    overflow-y: visible;
    overflow-x: visible;
}

.section-content {



    &.section-text {
        margin-right: 100%;
    }


    &:last-child {
        margin-bottom: 0;
    }
}

.caption {
    @include shift( 1 of 9 );
    @include span-columns( 7 of 9 );
    color: $pre-college-dark-gray;
}

hr.section-divider {
    border:none;
    margin-top: $section-margin-bottom / 2;
    margin-bottom: $section-margin-bottom;
}

.section-content.divider {
    @include shift( 1 of 9 );
    @include span-columns( 7 of 9 );
    max-width: $section-text-max-width;
    margin-right: 100%;
}
