{% extends "partials/base.twig" %}

{% import "home/home-macros.twig" as home_macros %}

{% block content %}

<section class="home-page-slideshow">
    {{ home_macros.slideshow( options.home_page_slideshow ) }}
</section>

<section class="home-page-quicklinks">
    {{ home_macros.slideshow( options.home_page_slideshow ) }}
</section>

{% endblock %}
