{% extends "partials/base.twig" %}


{% block content %}
<section id="home-page-slideshow" class="eighty-percent">
</section>

<section id="home-page-callouts" class="twenty-percent">
</section>
{% endblock %}
