

{% extends "partials/base.twig" %}

{% import "partials/components/section.twig" as sections %}

{% block content %}

    <h1>Page</h1>

    {{ section_inner_h_tag }}

    {% for section in post.get_field('sections') %}

        {{ sections.dispatch( section ) }}

        <script type="text/javascript">console.log({{ section|json_encode }})</script>

    {% endfor %}

{% endblock %}
