{% extends "partials/base.twig" %}

{% import "partials/components/section.twig" as sections %}

{% import "partials/components/sidebar.twig" as sidebar %}

{% block content %}

        <div class="container">

            {{ sidebar.dispatch( menu, post, parent ) }}

            <div id="content" class="content-section">

                <h1 class="page-title">{{post.title}}</h1>

                {% for section in post.get_field('sections') %}

                    {{ sections.dispatch( section ) }}

                {% endfor %}

            </div>

        </div>

{% endblock %}
