{% import "partials/components/application-button.twig" as button %}

<header class="{% if not post %}home{% elseif post and post.slug != "search" %}page{% elseif post.slug == "search" %}search{% endif %}">


    <a href="{{ site_url }}"><div class="logo"></div></a>

    <div class="nav">

        <div class="menu-button nav-button menu-toggle menu-closed {% if options.applications_are_open %}applications_are_open{% endif %}">
            <span class="menu-button-text nav-type"> Menu </span><span class="pictogram menu-button-icon">Í</span>
        </div>
        <div class="search-button nav-button {% if options.applications_are_open %}applications_are_open{% endif %}">
            <span class="pictogram search-button-icon ">s</span>
        </div>

        {{ button.header_apply_button( options ) }}

    </div>

</header>
