{% import "partials/components/application-button.twig" as button %}

<header class="page">

    <div class="logo"><a class="nav-link" href="/">
        {% include "partials/components/logo-new.twig" %}
    </a></div>

    <div class="nav">

        <div class="menu-button nav-button menu-toggle menu-closed {% if options.applications_are_open %}applications_are_open{% endif %}">
            <span class="menu-button-text nav-type"> Menu </span><span class="pictogram menu-button-icon">Í</span>
        </div>
        <div class="search-button search-toggle search-closed nav-button {% if options.applications_are_open %}applications_are_open{% endif %}">
            <span class="pictogram search-button-icon ">s</span>
        </div>
        {{ button.header_apply_button( options ) }}

    </div>

</header>
