
<div id="search-overlay" class="search-closed search-toggle search-toggle-target"></div>

<div id="search" class="container search-closed search-toggle-target">
    <form role="search" method="get" id="searchform" action="/">
        <div class="search-input-text">
            <input type="text" value="" name="s" id="s" placeholder="Search Pre-College..." />
        </div>
        <div class="search-input-submit">
            <input type="submit" value=">" class="search-input-button" id="searchsubmit" />
        </div>
    </form>
</div>
