footer {
    position: relative;
    padding-top: 4em;
    padding-bottom: 2em;
    z-index: 650;
    background-color: $pre-college-light-gray;
    @include clip-path(0% 0%, 100% $footer-skew, 100% 100%, 0% 100%);
    transition: all $transition-duration;
}

.header-row h5 {
    text-transform: uppercase;
}

.header-row, .content-row, .affiliates-row, .copyright-row {
    @include span-columns( 8 of 12 );
    //@include shift( 1 of 12 );
    @include omega();

    margin-left: $sidebar-max-width + 25px;

    padding-bottom: 1em;
}

.header-row {
    padding-bottom: .5em;
}

.buttons-column {
    @include span-columns( 4 of 8 );

    .footer-button {
        width: 100%;
        text-align: center;
        padding:1em;
        margin-bottom: 1em;
    }

    .footer-apply-button {
        @include border-radius();

        background-color: $pre-college-light-gray;

        span {
            @extend .bold;
            font-size: .9em;
            color: $pre-college-secondary-black;
        }

        &:hover {
            cursor: not-allowed;
        }
    }

    .footer-apply-button.applications_are_open {
        background-color: $pre-college-primary-yellow;


        &:hover {
            cursor: pointer;
            background-color: $pre-college-secondary-black;
            color: $pre-college-primary-teal;
        }
    }

    .footer-more-info-button {
        @include border-radius();

        background-color: $pre-college-primary-yellow;
        border: 2px solid $pre-college-primary-yellow;

        span {
            @extend .bold;
        }

        &:hover, &:hover span {

            cursor: pointer;
            background-color: white;
            color:$pre-college-secondary-black;

        }
    }

}



.contact-column {
    @include span-columns( 4 of 8 );

    .contact-header {
        text-transform: uppercase;
    }

    .contact-telephone {
        @include span-columns(4 of 4);

        .label {
            @extend .bold;
            padding-right: 1em;
        }

        p {
            margin-top: 0em;
            margin-bottom: .2em;
        }


    }

    .social-media {
        @include span-columns( 4 of 4 );
        padding-bottom: 1em;

        .social-link {
            @include span-columns( 1 of 4 );
            @include border-radius();

            padding: 1em;
            text-align: center;
            background-color: $pre-college-secondary-black;
            width:60px;
            font-weight: 250;
            position: relative;


            .social-icon {
                cursor: pointer;
                color:$pre-college-white;
                position: relative;
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left:0;

                background-position:center center;
                background-size:30px 30px;
                background-repeat: no-repeat;
                display: block;

                &.facebook {

                    background-size: 60px;
                    background-image: url('../images/facebook-icon-white.svg');

                }

                &.instagram {

                    background-image: url('../images/instagram-white.png');

                }

            }

            &:hover {
                background-color:$pre-college-secondary-black;
            }

        }

    }

}

.affiliates-list {
    @include span-columns( 9 of 8 );

    text-align: left;

    .footer-link {
        display: inline-block;
        @extend .bold;
        font-size: .9em;

    }

    .footer-divider {
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 1em;
        margin-right: 1em;
        width: 8px;
        height: 8px;
    }

}

@include md-query() {
    .header-row, .content-row, .affiliates-row, .copyright-row {
        @include span-columns( 8 of 12 );
        @include shift( 2 of 12 );
        @include omega();
        padding-bottom: 1em;
    }
}

@include sm-and-below-query() {
    footer {
        @include clip-path(0% 0%, 100% $footer-mobile-skew, 100% 100%, 0% 100%);
    }

    .header-row {
        margin-top: 2em;
    }

    .header-row, .content-row, .affiliates-row, .copyright-row {
        @include span-columns( 8 of 12 );
        @include shift( 2 of 12 );
        @include omega();
        padding-bottom: 1em;
    }




    .contact-column, .buttons-column {
        @include span-columns(8 of 8);
    }

    .contact-header {
        margin-top: 1em;
    }

    .affiliates-row {
        display: none;
    }

    .contact-column {
        text-align: center;
    }

    .social-link {
        &:first-child {
            @include shift( 1 of 4 );
        }
    }
}
