header {

    height: $header-height;

    position: fixed;
    top:0px;
    left:0px;

    width: 100%;

    z-index:1000;

    &.page {
        background-color: $pre-college-light-gray;

    }

    &.home {
        background-color: $pre-college-white;

        .logo {
            @include transform( translateY(-47%) );

            position: relative;
            margin-top: $header-height;
            top:0%;

            left:3.5%;
            width:30%;
        }

        .menu-button {
            background-color: transparent;

            &:hover {
                background-color: $pre-college-light-gray;
            }
        }

        .search-button {
            background-color: transparent;
            text-transform: lowercase;

            &:hover {
                background-color: $pre-college-light-gray;
            }

        }

    }

    &.search {
        background-color: $pre-college-white;
    }

}

.logo {
    @include shift(1 of 12);
    @include span-columns( 1 of 12 );

    display: block;
    width:130px;

    margin-left:10px;
    margin-top: 10px;

}


.nav {
    @include span-columns(4 of 12);
    font-size: 16px;
    float:right;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-self: flex-end;
}

.nav-button {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    line-height: $header-height;
}


.menu-button {
    width:50%;
    height: $header-height;
    background-color: $pre-college-light-gray;

    &:hover, &.menu-open  {
        background-color: $pre-college-light-gray-active;
    }

}

.menu-button-text {
    padding-right:1em;
}


.menu-button-icon {
    font-size: 1.4em;
}




.search-button {
    width:50%;
    height: $header-height;
    background-color: $pre-college-light-gray;

    &:hover {
        background-color: $pre-college-light-gray-active;
    }
}

.search-button.applications_are_open {
    width:20%;
}

.search-button-icon {
    font-size: 1.4em;
}



.apply-button {
    width:30%;

    height: $header-height;
    background-color: $pre-college-orange;

    &:hover {
        background-color: $pre-college-orange-active;
    }
}

.apply-button-text {
    @extend .bold;
}



@include xl-query() {
    header.home .logo {
        width:20%;
    }
}

@include lg-query() {
    header.home .logo {
        width:20%;
    }

    .nav {
        @include span-columns(5 of 12);
        float:right;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        align-self: flex-end;
    }
}


@include sm-and-below-query() {
    .nav {
        @include span-columns(6 of 12);
        float:right;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        align-self: flex-end;
        font-size: 12px;
    }

    header.home .logo {
        position: relative;
        width:40%;
        top:0%;
        @include transform( translateY(-45%) );
        left:5%;
    }

    .nav-button {
        padding-left: .5em;
        padding-right: .5em;
    }

    .menu-button {
        width:50%;
    }

    .menu-button.applications_are_open {
        width:30%;
    }

    .search-button {
        width:50%;
    }

    .search-button.applications_are_open {
        width:20%;
    }

    .apply-button {
        width:50%;
    }

    .menu-button-text {
        display: none;
    }

}
