body.menu-open {
    overflow: hidden;
}

#menu {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    max-height: 100vh;
    width: 100%;
    background-color: $pre-college-secondary-black;
    z-index:1000;
    overflow: scroll;
}

.program-submenu {
    position: relative;
    padding: 3em;
    @include span-columns( 6 of 12 );
    background-color: $pre-college-primary-teal;

    .menu-link:hover {
        color: $pre-college-primary-yellow;
    }
}

.info-submenu {
    padding: 3em;
    @include span-columns( 6 of 12 );
    background-color: $pre-college-secondary-black;
    color: $pre-college-primary-teal;

    .menu-link:hover {
        color: $pre-college-primary-yellow;
    }
}

.submenu-header {
    @extend .bold;
    @extend .heading;
    margin-bottom: 3em;
    max-width: 50%;
}

.submenu-item {
    @extend .bold;
    margin-bottom: 1.5em;
}


@include sm-and-below-query() {
    #menu {
        top: $header-mobile-height;
    }

    .program-submenu {
        @include span-columns( 12 of 12 );
    }

    .info-submenu {
        @include span-columns( 12 of 12 );
    }
}
