#loading-overlay {
    position: fixed;
    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background-color: $pre-college-white;

    z-index:1500;

    background-image: url('../../images/risd-pre-college-logo.svg');
    background-position: center center;
    background-size: 10% auto;
    background-repeat: no-repeat;
}


#menu-overlay, #search-overlay {
    z-index: 800;
    display: none;

    width: 100vw;
    height: 100vh;
    background-color: $pre-college-white;
    opacity: .75;

    position: fixed;
    left:0;
    right:0;
}
