.section-content {
    margin-bottom: $section-margin-bottom;

    &:last-child {
        margin-bottom: 0;
    }
}

.caption {
    @include shift( 1 of 9 );
    @include span-columns( 7 of 9 );
    color: $pre-college-dark-gray;
}
