.section-content.collapsible-subsections {
    @include shift(1 of 9);
    @include span-columns( 7 of 9 );
    max-width: $section-text-max-width;
}

.subsection-content {
    display: none;
    font-size: .85em;
}


.subsection-columns-1 {
    @include span-columns(7 of 7);
}

.subsection-columns-2 {
    @include span-columns(3 of 7);
}

.subsection-columns-2.right {
    @include shift(1 of 7);
}

@include sm-and-below-query() {
    .subsection-columns-2 {
        @include span-columns(7 of 7);
    }

    .subsection-columns-2.right {
        @include shift( 0 of 7 );
    }
}


.subsection-header {
    cursor: pointer;
    position: relative;

    &:hover .subsection-header-text {
        color: $pre-college-orange-active;

        &::before {
            color: $pre-college-orange-active;
        }
    }
}


.subsection {
    margin-bottom: 1.5em;
}

.subsection-header-text {
    @extend .brand-orange;
    font-size: 1em;
    display: inline-block;
    @extend .medium;
    margin-left: 1em;
}

.subsection-header.subsection-open {
    margin-bottom: 1em;
}


.subsection-header::before {
    @extend .pictogram;
    @extend .brand-orange;

    display: inline-block;
    position: absolute;
    top:-8px;

    content: "‹";

    font-size: 1.5em;

    transition: transform $transition-duration;
}

.subsection-header.subsection-closed::before {

}

.subsection-header.subsection-open::before {


    @include transform( rotate(90deg) );

}

@include md-query() {
    .subsection-header::before {
        top:-6px;
    }
    //
    // .subsection-header-text {
    //     font-size: .9em;
    // }
}

@include sm-and-below-query() {
    .subsection-header::before {
        top:-6px;
    }

    .subsection-header-text {
        font-size: .85em;
    }
}
