.subsection-header {
    cursor: pointer;
}

.section-content.collapsible-subsections {
    @include shift(1 of 9);
    @include span-columns( 7 of 9 );
}

.subsection-content {
    display: none;
}


.subsection-columns-1 {
    @include span-columns(7 of 7);
}

.subsection-columns-2 {
    @include span-columns(3 of 7);
}

.subsection-columns-2.right {
    @include shift(1 of 7);
}

@include sm-and-below-query() {
    .subsection-columns-2 {
        @include span-columns(7 of 7);
    }

    .subsection-columns-2.right {
        @include shift( 0 of 7 );
    }
}

.subsection-header::before {
    @extend .pictogram;
    @extend .brand-orange;

    display: inline-block;

    content: "‹";

    position:relative;
    left:-50px;
    top:29px;

    font-size: 2em;

    transition: transform $transition-duration;
}

.subsection-header.subsection-closed::before {

}

.subsection-header.subsection-open::before {


    @include transform( rotate(90deg) );

}


@include sm-and-below-query() {
    .subsection-header::before {

        top:26px;
        left:-25px;

    }
}
