#sidebar {
    @include span-columns( 3 of 12 );

    position: fixed;
    height: calc( 100vh - 60px );
    font-size: 16px;
    z-index:500;

    padding: (1em+$header-padding) 2em 2em 2em;

    &.sidebar-program {
        background-color: $pre-college-dark-blue;

        .sidebar-type {
            color:$pre-college-white;
        }
    }

    &.sidebar-info {
        background-color: $pre-college-light-gray;
        color:$pre-college-dark-gray;

        .sidebar-type {

            color:$pre-college-dark-gray;
        }

    }
}

.sidebar-type {
    @extend .book;
}

.sidebar-parent-type {
    text-transform: uppercase;
}

.sidebar-child-type {

}


.nav-item-submenu {
    margin-left: 2em;

    .sidebar-type {
        @extend .medium;

        &:hover {
            @extend .bold;
        }

    }
}




.nav-type.active {
    font-family: $norm-bold;
}

@include sm-and-below-query() {
    #sidebar {
        @include span-columns(9 of 12);

        cursor: pointer;
        position: fixed;

        -webkit-transform: translateX(-90%);
        transform: translateX(-90%);
        transition: transform $transition-duration;

        &.open {
            -webkit-transform: translateX(1.25%);
            transform: translateX(1.25%);
            transition: transform $transition-duration;
        }
    }
}
