

body {
    padding-top: $header-height;
    @include transition(all, $transition-duration, linear );
}

body.home {
    padding-top: 0;
}

main {
    position: relative;
    min-height: calc( 80vh - #{$header-height} );
}

.container {
    @include outer-container(100%);
}

.top-element {
    padding-top: $header-padding;
}

.hidden {
    display: none !important;
}

.vertical-center {
    position: relative;
    top:50%;
    @include transform( translateY(-50%) );
}

@include sm-and-below-query() {
    .hidden-sm {
        display: none;
    }
}



@mixin linear-gradient( $rot, $start, $end ) {
    background: -webkit-linear-gradient( $rot, $start, $end );
    background: -moz-linear-gradient( $rot, $start, $end );
    background: linear-gradient( $rot, $start, $end );
    //filter: progid.DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorStr='#{$end}', GradientType="#{$rot}" );
}

@mixin box-shadow() {
    -webkit-box-shadow: $box-shadow-depth rgba(175,175,175,0.8);
    -moz-box-shadow: $box-shadow-depth rgba(175,175,175,0.8);
    box-shadow: $box-shadow-depth rgba(175,175,175,0.8);
}

@mixin text-shadow() {
    text-shadow: $box-shadow-depth rgba(175,175,175,0.8);
}

@mixin border-radius() {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}
