::selection {
  background: $pre-college-orange;
  color:$pre-college-white;
}
::-moz-selection {
  background: $pre-college-orange;
  color:$pre-college-white;
}

body {
    padding-top: $header-height;
    @include transition(all, $transition-duration, linear );
}

body.home {
    padding-top: 0;
}

main {
    position: relative;
    min-height: calc( 80vh - #{$header-height} );
}

.container {
    @include outer-container(100%);
}

.top-element {
    padding-top: $header-padding;
}

.hidden {
    display: none !important;
}

.vertical-center {
    position: relative;
    top:50%;
    @include transform( translateY(-50%) );
}

@include sm-and-below-query() {
    .hidden-sm {
        display: none;
    }
}



@mixin linear-gradient( $rot, $start, $end ) {
    background: -webkit-linear-gradient( $rot, $start, $end );
    background: -moz-linear-gradient( $rot, $start, $end );
    background: linear-gradient( $rot, $start, $end );
    //filter: progid.DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorStr='#{$end}', GradientType="#{$rot}" );
}

@mixin steep-dropoff( $rot, $start, $end ) {
    background: -webkit-linear-gradient( $rot, $start 0%, $start 50.25%, $end 50.5%, $end 100% );
    background: -moz-linear-gradient( $rot, $start 0%, $start 50.25%, $end 50.5%, $end 100% );
    background: linear-gradient( $rot, $start 0%, $start 50.25%, $end 50.5%, $end 100% );
}

@mixin box-shadow() {
    -webkit-box-shadow: $box-shadow-depth rgba(175,175,175,0.8);
    -moz-box-shadow: $box-shadow-depth rgba(175,175,175,0.8);
    box-shadow: $box-shadow-depth rgba(175,175,175,0.8);
}

@mixin text-shadow() {
    text-shadow: $box-shadow-depth rgba(175,175,175,0.8);
}

@mixin border-radius( $rad: $border-radius ) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    border-radius: $rad;
}

$base-font-size: 16px;
$base-line-height: 1.8em;
$line-height-scale: 1;
$rhythm: $base-line-height / $line-height-scale;
$font-cap-height: 0.7em;


@mixin baseline-sized( $font-size ) {
    $lines: ceil(($font-size + 0.001em) / $rhythm );
    $line-height: $lines * $rhythm;
    $baseline-distance: ($line-height - $font-cap-height) / 2;

    font-size: $font-size;
    line-height: $line-height;
    padding-top: $baseline-distance;
    margin-bottom: $base-line-height - $baseline-distance;

}

@mixin clip-path( $top, $left, $bottom, $right ) {
    clip-path: polygon($top $left $bottom $right);
    clip-path: polygon($top, $left, $bottom, $right);
}

@include xl-query() {
    .hidden-xl {
        display: none;
    }
}

@include lg-query() {
    .hidden-lg {
        display: none;
    }
}

@include md-query() {
    .hidden-md {
        display: none;
    }
}

@include sm-query() {
    .hidden-sm {
        display: none;
    }
}

@include xs-query() {
    .hidden-xs {
        display: none;
    }
}
