

body {
    padding-top: $header-height;
    @include transition(all, $transition-duration, linear );
}

body.home {
    padding-top: 0;
}

main {
    position: relative;
}

.container {
    @include outer-container(100%);
}

.top-element {
    padding-top: $header-padding;
}

.vertical-center {
    position: relative;
    top:50%;
    @include transform( translateY(-50%) );
}
