@import 'parameters';

.brand-orange {
    color: $pre-college-orange;
}


.brand-dark-blue {
    color: $pre-college-dark-blue;
}


.brand-light-blue {
    color: $pre-college-light-blue;
}


.brand-green {
    color: $pre-college-green;
}


.brand-light-gray {
    color: $pre-college-light-gray;
}


.brand-dark-gray {
    color: $pre-college-dark-gray;
}

.brand-white {
    color: $pre-college-white;
}
