

// brand colors
$pre-college-light-blue: #A7DCE8;
$pre-college-dark-blue: #3593D0;
$pre-college-orange: #E65129;
$pre-college-green: #D1DE57;
$pre-college-dark-gray: #414143;
$pre-college-light-gray: #E7E8EA;
$pre-college-white: white;

$active-hover-darkening-factor: 10%;

$pre-college-light-blue-active: darken( #A7DCE8, $active-hover-darkening-factor);
$pre-college-dark-blue-active: darken( #3593D0, $active-hover-darkening-factor);
$pre-college-orange-active: darken( #E65129, $active-hover-darkening-factor);
$pre-college-green-active: darken( #D1DE57, $active-hover-darkening-factor);
$pre-college-dark-gray-active: darken( #414143, $active-hover-darkening-factor);
$pre-college-light-gray-active: darken( #E7E8EA, $active-hover-darkening-factor);
$pre-college-white-active: darken( white, $active-hover-darkening-factor);


// brand typefaces.
$norm-book: CabritoSans-NorBoo;
$norm-book-italic: CabritoSans-NorBooIt;
$norm-bold: CabritoSans-NorBol;
$norm-bold-italic: CabritoSans-NorBolIt;
$norm-medium: CabritoSans-NorMed;
$norm-medium-italic: CabritoSans-NorMedIt;

$header-height: 60px;
$header-padding: 2em;
$transition-duration: 0.35s;

// breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;


@mixin xs-query() {
    @media screen and (max-width: $xs) {
            @content;
    }
}

@mixin sm-query() {
    @media screen and (max-width: $sm) and (min-width: $xs) {
            @content;
    }
}

@mixin sm-and-below-query() {
    @media screen and (max-width: $sm) {
            @content;
    }
}

@mixin md-query() {
    @media screen and (min-width: $sm) and (max-width: $md) {
            @content;
    }
}

@mixin lg-query() {
    @media screen and (min-width: $md) and (max-width: $lg) {
            @content;
    }
}

@mixin xl-query() {
    @media screen and (min-width: $lg) {
            @content;
    }
}
