

// brand colors
$pre-college-light-blue: #A7DCE8;
$pre-college-dark-blue: #3593D0;
$pre-college-orange: #E65129;
$pre-college-green: #D1DE57;
$pre-college-dark-gray: #414143;
$pre-college-light-gray: #E7E8EA;
$pre-college-white: white;

$active-hover-darkening-factor: 10%;

$pre-college-light-blue-active: darken( #A7DCE8, $active-hover-darkening-factor);
$pre-college-dark-blue-active: darken( #3593D0, $active-hover-darkening-factor);
$pre-college-orange-active: darken( #E65129, $active-hover-darkening-factor);
$pre-college-green-active: darken( #D1DE57, $active-hover-darkening-factor);
$pre-college-dark-gray-active: darken( #414143, $active-hover-darkening-factor);
$pre-college-light-gray-active: darken( #E7E8EA, $active-hover-darkening-factor);
$pre-college-white-active: darken( white, $active-hover-darkening-factor);


// brand typefaces.
$norm-book: CabritoSans-NorBoo;
$norm-book-italic: CabritoSans-NorBooIt;
$norm-bold: CabritoSans-NorBol;
$norm-bold-italic: CabritoSans-NorBolIt;
$norm-medium: CabritoSans-NorMed;
$norm-medium-italic: CabritoSans-NorMedIt;

$header-height: 60px;
$header-padding: 4em; // sorry, it's got to be in ems.
$section-margin-bottom: 1.5em;
$home-slideshow-height: 60vh; // should be in viewport units.
$home-slideshow-max-height:800px;
$home-page-pre-college-type-viewport-factor:5; // should be unitless
$home-page-pre-college-type-aperture-factor:9.5; // should be unitless
$transition-duration: 0.35s;

// breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

$full-bleed-left-margin: -3.1%;
$full-bleed-right-margin: 0%;
$sm-full-bleed-left-margin: -3.1%;
$sm-full-bleed-right-margin: -10.25%;

$box-shadow-depth: 0px 0px 2px 1px;
$border-radius: 2px;
