

// brand colors
$pre-college-light-blue: #A7DCE8;
$pre-college-dark-blue: #3593D0;
$pre-college-orange: #E65129;
$pre-college-green: #D1DE57;
$pre-college-dark-gray: #414143;
$pre-college-medium-gray: #D6D8DB;
$pre-college-light-gray: #E7E8EA;
$pre-college-white: white;

$active-hover-darkening-factor: 10%;

$pre-college-light-blue-active: darken( $pre-college-light-blue, $active-hover-darkening-factor);
$pre-college-dark-blue-active: darken( $pre-college-dark-blue, $active-hover-darkening-factor);
$pre-college-orange-active: darken( $pre-college-orange, $active-hover-darkening-factor);
$pre-college-green-active: darken( $pre-college-green, $active-hover-darkening-factor);
$pre-college-dark-gray-active: darken( $pre-college-dark-gray, $active-hover-darkening-factor);
$pre-college-medium-gray-active: darken( $pre-college-medium-gray, $active-hover-darkening-factor);
$pre-college-light-gray-active: darken( $pre-college-light-gray, $active-hover-darkening-factor);
$pre-college-white-active: darken( white, $active-hover-darkening-factor);


// brand typefaces.
$norm-book: CabritoSans-NorBoo;
$norm-book-italic: CabritoSans-NorBooIt;
$norm-bold: CabritoSans-NorBol;
$norm-bold-italic: CabritoSans-NorBolIt;
$norm-medium: CabritoSans-NorMed;
$norm-medium-italic: CabritoSans-NorMedIt;

$header-height: 60px;
$header-mobile-height: 40px;
$header-padding: 3em; // sorry, it's got to be in ems.

$sidebar-max-width: 250px; // desktop
$sidebar-mobile-width: 90%; // mobile, should be in %

$section-margin-bottom: 3em;
$section-divider-size: 3px;
$section-text-max-width: 700px;

$home-slideshow-height: 50vh; // should be in viewport units.
$home-slideshow-max-height:800px;
$home-page-pre-college-type-viewport-factor:5; // should be unitless
$home-page-pre-college-type-aperture-factor:9.5; // should be unitless
$home-button-transparency: .2; // should be in the range [0,1].

$footer-skew: 20%;
$footer-mobile-skew: 10%;

$transition-duration: 0.35s;

// breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

$full-bleed-left-margin: -3.1%;
$full-bleed-right-margin: 0%;
$sm-full-bleed-left-margin: -3.1%;
$sm-full-bleed-right-margin: -10.25%;

$box-shadow-depth: 0px 0px 2px 1px;
$border-radius: 2px;
