html, body {
    font-family: $norm-book, sans-serif;
    color: $pre-college-dark-gray;
    font-size: 18px;
    letter-spacing: .025em;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.bold {
    font-family: $norm-bold, sans-serif;
}

.medium {
    font-family: $norm-medium, sans-serif;
}

.book {
    font-family: $norm-book, sans-serif;
}


.italic {
    font-family: $norm-book-italic, sans-serif;
    font-style: italic;
}

.bold.italic {
    font-family: $norm-bold-italic, sans-serif;
    font-style: italic;
}

.medium.italic {
    font-family: $norm-medium-italic, sans-serif;
    font-style: italic;
}

.book.italic {
    font-family: $norm-book-italic, sans-serif;
    font-style: italic;
}


h1, .h1 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 3.15em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

h2, .h2 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 2.25em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

h3, .h3 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 1.75em;
    margin-bottom: 1em;
    line-height: 1.45em;
}

h4, .h4 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.35em;
}

h5, .h5 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 1.15em;
    margin-bottom: 1.25em;
    line-height: 1.15em;
}

h6, .h6 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 1.05em;
    margin-bottom: 1.25em;
    line-height: 1.15em;
}

p {
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.nav-type {
    @extend .book;
    text-transform:uppercase;
}

.caption {
    font-size: .75em;
}

.active {
    font-family: $norm-bold;
}

.pictogram {
    font-family: "Modern Pictograms Pro";
}

@include md-query() {
    html, body {
        font-size: 16px;
    }
}

.small {
    font-size: .8em;
}

.tiny {
    font-size: .6em;
}

@include sm-query() {
    html, body {
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    .nav-type {
        font-size: 1.25em;
    }
}

@include xs-query() {
    html, body {
        font-size: 16px;
        letter-spacing: 0.035em;
    }

    .nav-type {
        font-size: 1.25em;
    }
}
