@import 'parameters';
@import 'brand';

html {
    font-family: $norm-book, sans-serif;
    color: $pre-college-dark-gray;
    font-size: 16px;
    letter-spacing: .025em;
}

.bold {
    font-family: $norm-bold, sans-serif;
}

.medium {
    font-family: $norm-medium, sans-serif;
}

.book {
    font-family: $norm-book, sans-serif;
}

h1, .h1 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 3.25em;
    line-height: 2em;
    margin-bottom: 1em;
}

h2, .h2 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 2.5em;
    margin-bottom: 1em;
}

h3, .h3 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 2em;
    margin-bottom: 1em;
}

h4, .h4 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 1.75em;
    margin-bottom: 1em;
}

h5, .h5 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 1.25em;
    margin-bottom: 1em;
}

h6, .h6 {
    @extend .bold;
    @extend .brand-orange;

    font-size: 1.25em;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    margin-bottom: 2em;
}

.nav-type {
    @extend .medium;
    text-transform:uppercase;
}

.caption {
    font-size: .75em;
}

.active {
    font-family: $norm-bold;
}
