.wysiwyg {

    blockquote {
        @extend .h4;
        @extend .bold;
        @extend .italic;
        color:$pre-college-primary-teal;
        width: 100%;
        // margin-top:.75em;
        // margin-bottom:.75em;
    }

    h1 {
        @extend .h3;
        color:$pre-college-primary-teal;
        // margin-bottom:1em;
    }

    h2 {
        @extend .h5;
        padding-top: 1em;
        color:$pre-college-primary-teal;
        // margin-bottom:2em;
    }

    h3 {
        @extend .h6;
        padding-top: 1em;
        // margin-bottom:1em;
        text-transform: uppercase;
    }

    h4, h5, h6 {
        @extend .h6;
        // margin-top:1em;
    }


    strong, b {
        @extend .bold;
    }

    em, i {
        @extend .italic;
    }


    h1, h2, h3, h4, h5, h6, p {

    }


    ul {


        li::before {
            @extend .bold;
            @extend .pictogram;

            display: inline-block;

            content: "…";

            vertical-align: middle;
            position: absolute;
            left:-1em;
            top:.2em;

            font-size: .8em;

            transition: transform $transition-duration;
        }

        li {
            @extend p;

            position: relative;
            margin-left: 2em;
        }

    }

    ol {
        counter-reset: list;

        li::before {
            @extend .bold;

            display: inline-block;

            content: counter(list)".";

            vertical-align: middle;
            position: absolute;
            left:-1.4em;
            top:0;

            font-size: 1.5em;
            //margin-right: -2em;

            transition: transform $transition-duration;
        }

        li {
            margin-bottom: 1.5em;
            counter-increment: list;
        }

        margin-bottom: 2em;
    }

    img {
        margin-bottom: 2%;
        height:auto;
    }

    img.alignleft {
        width:31%;
        height:auto;
        margin-right: 2%;
        display: inline-block;
        float: left;
        clear: left;
    }

    img.aligncenter {
        width:31%;
        height:auto;
        display: block;
        margin-left:auto;
        margin-right:auto;
    }

    img.alignright {
        width:31%;
        height:auto;
        margin-left: 2%;
        display: inline-block;
        float: right;
        clear: right;
    }

    img.alignnone {
        width: 100%;
        clear: both;
    }

    @include sm-and-below-query() {
        img.alignleft, img.aligncenter, img.alignright, img.alignnone {
            width: 100%;
            clear:both;
        }
    };

}
