#content {

    padding-top: $header-padding;

    width: calc( 100% - #{$sidebar-max-width} );
    margin-left: $sidebar-max-width;

    background-color: $pre-college-white;
}

.page-title {
    @include shift( 1 of 9 );
    @include span-columns( 7 of 9 );
}

@include sm-and-below-query() {
    #content {
        @include span-columns( 10 of 12 );
        @include shift(1 of 12);
    }
}
