.home-spread-section {
    position: relative;
}

.logo-image-spread {
    margin-top: $header-height;
    position: relative;

}

.home-page-image {
    width:100%;

    display:block;
}

.home-page-image-bounds {
    overflow:hidden;
    width: 100%;
    max-height: calc(100vh - #{$header-height});
}

.home-page-image-mask {
    position: absolute;

    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: rgba( 0,0,0,.20 );
}

.home-page-logo {
    position: absolute;
    text-align: center;
    left:50%;
    top:40%;
    width: 80vw;
    transform: translateX(-50%)translateY(-50%);
    margin-bottom:0;

    h1 {
        margin-bottom:0;
    }

    svg {
        transform: scale(120%);
    }

}

.home-page-buttons {
    @include span-columns( 6 of 12 );

    transform: translateX(-50%)translateY(-50%);

    position: absolute;
    left:50%;
    bottom:5%;
    z-index: 350;
    text-align: center;

    &.applications-open {
        @include span-columns( 8 of 12 );
    }

}

.home-page-button {
    @extend .bold;
    @extend .heading;

    width: auto;

    background-color: $pre-college-primary-yellow;
    text-align: center;
    padding:.75em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: .5em;
    margin-right: .5em;
    border:2px solid $pre-college-primary-yellow;

    &:hover {
        @extend .bold;
        background-color:white;
        color:inherit;
    }

    &.applications-open {

    }
}


.text-section {
    overflow: auto;
    padding: 4em;
    padding-top: 5em;
}

.text-block-big {
    @include span-columns( 10 of 12 );
    @include shift( 1 of 12 );
    background-color: transparent;
    display: block;

    .home-page-big-header-text {
        @include span-columns( 8 of 10 );

    }

    .home-wysiwyg {
        @include span-columns( 6 of 10 );


    }

}

.text-block-small {
    @include span-columns( 10 of 12 );
    @include shift( 1 of 12 );
    display: block;

    .home-page-small-header-text {
        @include span-columns( 7 of 10 );
    }

    .home-wysiwyg {
        @include span-columns( 7 of 10 );
    }

}

.home-wysiwyg {
    font-size: 1.2em;

    strong, b {
        @extend .bold;
    }

}



.home-page-big-header-text {
    font-size: 3em;
    margin-bottom: .8em;
    line-height: 1.25;
}

.home-page-small-header-text {
    font-size: 2.25em;
    margin-bottom: .8em;
    line-height: 1.25;
}


.home-footer-padding {
    height:8em;
    width: 100%;
    position: absolute;
    bottom:-8em;
    left:0;

}

@include md-query() {
    .text-block-big {
        @include span-columns( 10 of 12 );
        @include shift( 1 of 12 );
        background-color: transparent;
        display: block;

        .home-page-big-header-text {
            @include span-columns( 8 of 10 );
            font-size:2.25em;
            line-height: 1.5;

        }

        .home-wysiwyg {
            @include span-columns( 8 of 12 );
            font-size:1em;
        }

    }

    .text-block-small {
        @include span-columns( 8 of 12 );
        @include shift( 1 of 12 );
        display: block;

        .home-page-small-header-text {
            @include span-columns( 8 of 12 );
            font-size:1.8em;
            line-height: 1.5;
        }

        .home-wysiwyg {
            @include span-columns( 8 of 12 );
            font-size:1em;
        }

    }
}

@include sm-and-below-query() {
    .logo-image-spread {
        margin-top: $header-mobile-height;
    }

    .home-page-logo {
        position: absolute;
        left:50%;
        top:50%;
        @include transform( translateX(-50%)translateY(-50%) );

        svg {
            @include transform( scale(60%) );
        }

    }

    .home-page-buttons {
        @include transform( translateX(-50%)translateY(50%) );


        position: absolute;
        left:50%;
        bottom:0%;
    }
}

@include sm-query() {


    .text-block-big {
        @include span-columns( 10 of 12 );
        @include shift( 1 of 12 );
        background-color: transparent;
        display: block;

        .home-page-big-header-text {
            @include span-columns( 8 of 10 );
            font-size:1.8em;
            line-height: 1.45;
        }

        .home-wysiwyg {
            @include span-columns( 8 of 10 );
            font-size:1em;
        }

    }

    .text-block-small {
        @include span-columns( 8 of 12 );
        @include shift( 1 of 12 );
        display: block;

        .home-page-small-header-text {
            @include span-columns( 8 of 10 );
            font-size:1.3em;
            line-height: 1.45;
        }

        .home-wysiwyg {
            @include span-columns( 8 of 10 );
            font-size:1em;
        }

    }
}

@include xs-query() {

    .text-block-big {
        @include span-columns( 12 of 12 );
        @include shift( 0 of 12 );
        background-color: transparent;
        display: block;

        .home-page-big-header-text {
            @include span-columns( 12 of 12 );
            font-size:1.8em;
            line-height: 1.45;

        }

        .home-wysiwyg {
            @include span-columns( 12 of 12 );
            font-size:1em;
        }

    }

    .text-block-small {
        @include span-columns( 12 of 12 );
        @include shift( 0 of 12 );
        display: block;

        .home-page-small-header-text {
            @include span-columns( 12 of 12 );
            font-size:1.3em;
            line-height: 1.45;
        }

        .home-wysiwyg {
            @include span-columns( 12 of 12 );
            font-size:1em;
        }

    }

    .home-page-buttons {
        @include span-columns(10 of 12);
        font-size: .8em;
    }
}
