
<section id="{% include "partials/components/section-id.twig" %}" class="section-content schedule">

    <div class="content schedule">

        {% for item in section.schedule_items %}
            <div class="schedule-row">
                <div class="header-column internal-item">
                    <h2 class="brand-orange schedule-item-label">{{ item.schedule_item_label }}</h2>
                    {% if item.schedule_item_label_caption %}
                    <p class="schedule-item-label-caption italic">{{ item.schedule_item_label_caption }}</p>
                    {% endif %}
                </div>
                <div class="details-column"><ol>
                    {% for subitem in item.schedule_item_subitems %}
                        <li class="schedule-subitem">
                            {% if subitem.schedule_subitem_label %}
                                <div class="subitem-label"><p class="brand-secondary-teal">{{ subitem.schedule_subitem_label }}</p></div>
                            {% endif %}
                            <div class="{% if not subitem.schedule_subitem_label %}no-label{% endif %} subitem-text wysiwyg">{{ subitem.schedule_subitem_text }}</div>
                        </li>
                    {% endfor %}
                </ol></div>
            </div>
        {% endfor %}

    </div>
    <br/>

</section>
