a, .a, .body-link {
    color: $pre-college-secondary-black;
    border-bottom: 2px solid $pre-college-secondary-black;

    &:hover {
        color:$pre-college-secondary-text-teal;
        border-color: $pre-college-secondary-text-teal;
    }

}

a.nav-link {
    border-bottom: none;

    &:hover {
        color:$pre-college-primary-yellow;
    }

}

a.sidebar-link {
    border-bottom: none;

    &:hover {
        color:inherit;
        color:$pre-college-primary-yellow;
    }

}

a.menu-link {
    border-bottom: none;

    &:hover * {
        font-family: $norm-bold;
        color: $pre-college-primary-yellow;
    }

}

a.footer-link {
    border-bottom: none;
}

a.search-link {
    border-bottom: none;
}

a.search-subsection-link {
    @extend .medium;
    border-bottom: none;
}
