.home-page-slideshow {
    padding-top: $header-height;
}

.home-page-quicklinks {
    position: relative;
    z-index:100;
}

.slides {
    width: 100vw;
    height: $home-slideshow-height;
    max-height: $home-slideshow-max-height;
    overflow: hidden;
    position: relative;

    .slide {
        width: 100vw;
        height: $home-slideshow-height;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.landscape {
            //background-size: 100% auto;
            //height: $home-slideshow-height;
        }

        &.portrait {
            //background-size: auto 100%;
            //height: $home-slideshow-height / 1.5;
        }

    }

    .slide .alignment-overlay {
        position: relative;
        top:50%;
        left:50%;
        @include transform( translateX(-50%)translateY(-50%) );
    }

    .slide-overlay {
        width: 75%;
        height:100%;
        position: relative;
        top:0;
        left:0;
        @include linear-gradient( 90deg, $pre-college-white, transparent );
    }

}




.program-overview-box {
    @include shift( 1 of 11 );
    @include span-columns(3 of 11);
    z-index: 100;
}

.info-box {
    @include span-columns(3 of 12);
}

.pre-college-overlay-box {
    @include span-columns(3 of 11);
    position: relative;
    top:-10vh;

    background-color:$pre-college-dark-blue;
    padding:2em;

    h3 {
        color:$pre-college-white;
    }
}

.home-page-direction-nav {
    @include shift( 1 of 12 );
    @include span-columns( 10 of 12 );

    position: absolute;
    bottom:10%;
    z-index: 150;
    vertical-align: middle;
    @include transform( translateY(51%) );

    .home-page-nav-prev {
        @extend .pictogram;
        @extend .h1;
        margin: 0;

        position: relative;
        left: -2vw;
        float: left;

        a {
            border:0;
            @include text-shadow();

            &:hover {
                color:$pre-college-white;
            }
        }

    }

    .home-page-nav-next {
        @extend .pictogram;
        @extend .h1;
        margin: 0;

        position: relative;
        right: -2vw;
        float:right;

        a {
            border:0;
            @include text-shadow();

            &:hover {
                color:$pre-college-white;
            }
        }
    }
}

@include md-query() {
    // .home-page-direction-nav {
    //     bottom:27%;
    // }
}

@include sm-and-below-query() {
    .slides {
        height: $home-slideshow-height / 1.5;
    }

    .slides .slide {
        height: $home-slideshow-height / 1.5;
    }

    // .home-page-direction-nav {
    //     bottom:40%;
    // }

    .pre-college-overlay-box {
        @include shift(1 of 12);
        @include span-columns( 10 of 12 );
        @include box-shadow();

        position: static;
        margin-top: 2em;
    }

    .program-overview-box {
        @include shift( 1 of 12 );
        @include span-columns(5 of 12);
    }

    .info-box {
        @include span-columns(5 of 12);

    }
}

@include xs-query() {
    // .home-page-direction-nav {
    //     bottom:45%;
    // }
}
