.home-spread-section {
    position: relative;
}

.logo-image-spread {
    margin-top: $header-height;
    position: relative;

}

.home-page-image {
    width:100%;

    display:block;
}

.home-page-image-bounds {
    overflow:hidden;
    width: 100%;
    max-height: calc(100vh - #{$header-height});
}

.home-page-image-mask {
    position: absolute;

    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: rgba( 0,0,0,.20 );
}

.home-page-logo {
    position: absolute;
    left:50%;
    top:40%;
    width: 250px;
    @include transform( translateX(-50%)translateY(-50%) );

    svg {
        @include transform( scale(120%) );
    }

}

.home-page-buttons {
    @include span-columns( 6 of 12 );
    @include transform( translateX(-50%)translateY(-50%) );

    position: absolute;
    left:50%;
    bottom:5%;
    z-index: 350;

    &.applications-open {
        @include span-columns( 8 of 12 );
    }

}

.home-page-button {
    @extend .medium;

    @include span-columns( 3 of 6 );

    background-color:$pre-college-light-gray;
    text-align: center;
    padding:.5em;
    border:0;

    &:hover {
        @extend .bold;
        background-color:$pre-college-light-gray-active;
        color:inherit;
    }

    &.applications-open {
        @include span-columns( 2 of 6 );
    }
}


.text-section {
    overflow: auto;
    padding: 4em;
    padding-top: 5em;
}

.text-block-big {
    @include span-columns( 10 of 12 );
    @include shift( 1 of 12 );
    background-color: transparent;
    display: block;

    .home-page-big-header-text {
        @include span-columns( 6 of 10 );

    }

    .home-wysiwyg {
        @include span-columns( 5 of 10 );


    }

}

.text-block-small {
    @include span-columns( 8 of 12 );
    @include shift( 2 of 12 );
    display: block;

    .home-page-small-header-text {
        @include span-columns( 7 of 10 );
    }

    .home-wysiwyg {
        @include span-columns( 7 of 10 );
    }

}

.home-wysiwyg {
    color:$pre-college-white;
    font-size: 1.5em;

    strong, b {
        @extend .bold;
    }

}



.home-page-big-header-text {
    font-size: 3em;
    color: $pre-college-white;
    margin-bottom: .45em;
    line-height: 1.25;
}

.home-page-small-header-text {
    @extend .book;
    font-size: 2.25em;
    color: $pre-college-white;
    margin-bottom: .45em;
    line-height: 1.25;
}


.home-footer-padding {
    height:8em;
    width: 100%;
    position: absolute;
    bottom:-8em;
    left:0;

}

@include md-query() {
    .text-block-big {
        @include span-columns( 10 of 12 );
        @include shift( 1 of 12 );
        background-color: transparent;
        display: block;

        .home-page-big-header-text {
            @include span-columns( 8 of 10 );
            font-size:2.25em;
            line-height: 1.5;

        }

        .home-wysiwyg {
            @include span-columns( 8 of 12 );
            font-size:1.2em;
        }

    }

    .text-block-small {
        @include span-columns( 8 of 12 );
        @include shift( 2 of 12 );
        display: block;

        .home-page-small-header-text {
            @include span-columns( 8 of 12 );
            font-size:1.8em;
            line-height: 1.5;
        }

        .home-wysiwyg {
            @include span-columns( 8 of 12 );
            font-size:1.2em;
        }

    }
}

@include sm-query() {


    .text-block-big {
        @include span-columns( 10 of 12 );
        @include shift( 1 of 12 );
        background-color: transparent;
        display: block;

        .home-page-big-header-text {
            @include span-columns( 8 of 10 );
            font-size:1.8em;
            line-height: 1.45;
        }

        .home-wysiwyg {
            @include span-columns( 8 of 10 );
            font-size:1em;
        }

    }

    .text-block-small {
        @include span-columns( 8 of 12 );
        @include shift( 2 of 12 );
        display: block;

        .home-page-small-header-text {
            @include span-columns( 8 of 10 );
            font-size:1.3em;
            line-height: 1.45;
        }

        .home-wysiwyg {
            @include span-columns( 8 of 10 );
            font-size:1em;
        }

    }
}

@include xs-query() {

    .text-block-big {
        @include span-columns( 12 of 12 );
        @include shift( 0 of 12 );
        background-color: transparent;
        display: block;

        .home-page-big-header-text {
            @include span-columns( 12 of 12 );
            font-size:1.8em;
            line-height: 1.45;

        }

        .home-wysiwyg {
            @include span-columns( 12 of 12 );
            font-size:1em;
        }

    }

    .text-block-small {
        @include span-columns( 12 of 12 );
        @include shift( 0 of 12 );
        display: block;

        .home-page-small-header-text {
            @include span-columns( 12 of 12 );
            font-size:1.3em;
            line-height: 1.45;
        }

        .home-wysiwyg {
            @include span-columns( 12 of 12 );
            font-size:1em;
        }

    }
}


@include sm-and-below-query() {
    .logo-image-spread {
        margin-top: $header-mobile-height;
    }

    .home-page-logo {
        position: absolute;
        left:50%;
        top:50%;
        width: 100px;
        @include transform( translateX(-50%)translateY(-50%) );

        svg {
            @include transform( scale(60%) );
        }

    }

    .home-page-buttons {
        @include transform( translateX(-50%)translateY(50%) );

        position: absolute;
        left:50%;
        bottom:0%;
    }
}
