

.slides {
    width: 100vw;
    height: $home-slideshow-height;
    max-height: $home-slideshow-max-height;

    .slide {
        width: 100vw;
        height: $home-slideshow-height;
        max-height: $home-slideshow-max-height;
        background-repeat: no-repeat;
        background-position: center;

        &.landscape {
            background-size: 100% auto;
        }

        &.portrait {
            background-size: auto 100%;
        }

    }

    .slide .alignment-overlay {
        position: relative;
        top:50%;
        left:50%;
        @include transform( translateX(-50%)translateY(-50%) );
    }

}


.program-overview-box {
    @include shift( 1 of 11 );
    @include span-columns(3 of 11);
}

.info-box {
    @include span-columns(3 of 12);
}

.pre-college-overlay-box {
    @include span-columns(3 of 11);
    //@include shift(7 of 12);
    position: relative;
    top:-10vh;

    background-color:$pre-college-dark-blue;
    padding:2em;

    h2 {
        color:$pre-college-white;

    }
}

@include sm-and-below-query() {
    .pre-college-overlay-box {
        position: static;
        @include shift(1 of 12);
        @include span-columns( 10 of 12 );
    }

    .program-overview-box {
        @include shift( 1 of 12 );
        @include span-columns(5 of 12);
    }

    .info-box {
        @include span-columns(5 of 12);

    }
}
